<a href="https://colab.research.google.com/github/jc332/hello-world/blob/main/Exercice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
villeFavoriteUne = "Marseille"
villeFavoriteDeux = "Paris"
favori = "Mes villes favorites sont " + villeFavoriteUne + " et " + villeFavoriteDeux
print(favori)

Mes villes favorites sont Marseille et Paris

In [11]:
ville = "New York"
nombreVoyage = 20
visite = " J'ai déja été à " +  ville + " " +  str( nombreVoyage ) + " fois "
print(visite)

 J'ai déja été à New York 20 fois

In [16]:
def perimetreTriangle(cote1,cote2,cote3):
     perimetreTriangle = cote1 + cote2 + cote3
     print(perimetreTriangle)

# calculer le périmètre d'un triangle quelconque

perimetreTriangle(8,7,12)

27

In [21]:
def calculPerimetre(cote1,cote2,cote3):
     perimetre = cote1 + cote2 + cote3
     return(perimetre)

In [22]:
perimetre1 = calculPerimetre(6, 4, 3)
perimetre2 = calculPerimetre(10, 3, 11)


print("Le périmetre de mon premier triangle est", perimetre1, "et celle de mon second est", perimetre2)

Le périmetre de mon premier triangle est 13 et celle de mon second est 24

In [23]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [24]:
a = " HELLO WORLD ! "
a.lower()

# méthode de string : lower

' hello world ! '

In [34]:
nomClient = ['Georges Dupont', 'Luc Martin', 'Lucas Anderson', 'Alexandre Petit']
nomClient[0] = 'Georges Dupond'
print(nomClient)
print(nomClient[-1])
print(nomClient[1:3])

['Georges Dupond', 'Luc Martin', 'Lucas Anderson', 'Alexandre Petit']
Alexandre Petit
['Luc Martin', 'Lucas Anderson']